@import url("http://fonts.cdnfonts.com/css/open-sans");
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  align-self: stretch;
}
.navbar .nav_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 90%;
  z-index: 1;
  margin: 0 auto;
  padding: 0 50px;
}
.navbar .nav_container #navbar_logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.navbar .nav_container #navbar_logo span {
  font-weight: 800;
}
.navbar .nav_container .navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar .nav_container .navbar_menu .navbar_item {
  height: 80px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .nav_container .navbar_menu .navbar_item .navbar_links {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 20px;
  transform: all 0.3s ease;
  text-decoration: none;
}
.navbar .nav_container .navbar_menu .navbar_item .navbar_links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.navbar .nav_container .navbar_menu .navbar_item .navbar_links:hover {
  color: #ccd6a6;
  transition: all 0.3s ease;
}

.slidesContainer .carousel-inner img {
  width: 100vw;
  height: 100vh;
  opacity: 90%;
  filter: brightness(60%);
}
.slidesContainer .carousel-inner .carousel-caption {
  top: 35%;
}
.slidesContainer .carousel-inner .carousel-caption h1 {
  font-size: 6rem;
  font-weight: 600;
  text-transform: uppercase;
}
.slidesContainer .carousel-prevBtn {
  transform: rotate(270deg);
}
.slidesContainer .carousel-nextBtn {
  transform: rotate(90deg);
}

.part1Container {
  padding: 5rem 15% 0 15%;
}
.part1Container .part1_leftPart {
  font-size: 1.2rem;
  padding: 0 100px 0 0;
  color: #2b2b2b;
}
.part1Container .part1_rightPart .part1_rightPart_info {
  color: #696969;
}
.part1Container .part1_rightPart .part1_rightPart_info span {
  font-weight: 700;
}
.part1Container .part1_rightPart .part1_rightPart_images {
  margin-top: 40px;
}
.part1Container .part1_rightPart .part1_rightPart_images img {
  width: 6rem;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
}

.part2Container {
  padding: 0 15% 0 15%;
  margin-top: 6rem;
}
.part2Container h1 {
  color: #696969;
  font-size: 4.5rem;
  line-height: 1;
  z-index: 99;
  font-weight: 600;
}
.part2Container h1 .green {
  color: #688f4e;
}
.part2Container h1 .yellow {
  color: #ecda65;
}
.part2Container .part2-under {
  top: -6rem;
  display: flex;
  justify-content: flex-end;
  font-size: 10rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #e0dec8;
  opacity: 30%;
  z-index: -1;
}

.part3Container .part3_image {
  padding: 0;
}
.part3Container .part3_image img {
  width: 33.3vw;
  height: 40vh;
  z-index: 1;
  position: relative;
  display: inline-block;
  filter: brightness(85%);
}
.part3Container .part3_image .part3_overlay {
  background-color: #6d8b74;
  opacity: 20%;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part3Container .part3_image .part3_overlay:hover {
  transition: 0.5s ease;
  background-color: #000000;
  overflow: hidden;
}
.part3Container .part3_image .part3_overlayText p {
  z-index: 3;
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
}

.part4Container {
  max-width: 100%;
  height: 50rem;
  background-color: #c2cbc2;
}
.part4Container .part4Left {
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 4rem;
}
.part4Container .part4Left .part4Left_title h2 {
  font-size: 4rem;
  font-weight: 600;
}
.part4Container .part4Left .part4Left_content {
  padding-top: 2rem;
}
.part4Container .part4Left .part4Left_button {
  margin-top: 2rem;
}
.part4Container .part4Left .part4Left_button button {
  padding: 0.7rem 1.5rem;
  border: 2.5px solid #5f7161;
  border-radius: 4px;
}
.part4Container .part4Left .part4Left_button button a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.part4Container .part4Left .part4Left_button button:hover {
  background-color: #5f7161;
  transition: all 0.3s ease;
}
.part4Container .part4Right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/images/riccardo-annandale-7e2pe9wjL9M-unsplash.jpg");
  object-fit: scale-down;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.footerContainer .social .social_icon-link {
  color: #5f7161;
  font-size: 2rem;
  margin: 0 0.5rem;
  padding-bottom: 25px;
}
.footerContainer .list-inline {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  padding: 2rem;
}
.footerContainer .list-inline a {
  color: #5f7161;
}
.footerContainer .copyright {
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.headerContainer {
  position: relative;
}
.headerContainer .headerContainerImage img {
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  filter: brightness(70%);
}
.headerContainer .headerContainerText {
  position: absolute;
  top: 40%;
  left: 20%;
  color: #ffffff;
}
.headerContainer .headerContainerText h1 {
  font-weight: 600;
}
.headerContainer .headerContainerText p {
  padding-top: 1rem;
}

.energyGenerationSection {
  margin: 8rem 10%;
  display: flex;
}
.energyGenerationSection .energyGenerationSection_left .energyGenerationSection_title h4 {
  margin-top: 3rem;
  text-decoration: underline;
  text-underline-offset: 1rem;
}
.energyGenerationSection .energyGenerationSection_left .energyGenerationSection_content {
  margin-top: 2rem;
}
.energyGenerationSection .energyGenerationSection_left .energyGenerationSection_content p {
  line-height: 2;
}
.energyGenerationSection .energyGenerationSection_right {
  margin: 20px;
  background-image: url("/images/image2.jpg");
  background-size: cover;
  border-radius: 4px;
  filter: drop-shadow(0 0 0.75rem #a9a9a9);
}

.pollutionSection {
  background-color: #ccd6a6;
}
.pollutionSection .pollutionContainer {
  margin: 6rem 10%;
  padding: 6rem 0;
}
.pollutionSection .pollutionContainer .pollutionMore button {
  padding: 0.7rem 1.5rem;
  border: 2.5px solid #5f7161;
  border-radius: 4px;
  background-color: transparent;
}
.pollutionSection .pollutionContainer .pollutionMore button a {
  color: #5f7161;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}
.pollutionSection .pollutionContainer .pollutionMore button a:hover {
  color: #ffffff;
}
.pollutionSection .pollutionContainer .pollutionMore button:hover {
  background-color: #5f7161;
  transition: all 0.3s ease;
}

/*# sourceMappingURL=styles.css.map */
